<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/static/css/login.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8"></script>
    <title>SGT - 로그인</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="login">
        <div class="write-login">아이디 찾기</div>
      </div>
      <form class="login-box">
        <input type="text" class="id-input" name="id" placeholder="아이디를 입력해주세요" id="id" />
        <input type="password" class="pw-input" name="pw" placeholder="비밀번호를 입력해주세요" id="pw" />

        <div class="find">
          <a href="/find_id">아이디 찾기</a>
          <a href="/find_pw">비밀번호 찾기</a>
        </div>
        <div class="button">
          <button type="button" class="login-button" onclick="NormalLogin()">로그인</button>
          <button type="button" class="signup-button" onclick="Singup()">회원가입</button>
          <button type="button" class="kakao-button" onclick="KakaoLogin()">카카오로 로그인</button>
          <div id="naver_id_login"></div>
          <!--네이버 로그인-->
        </div>
      </form>
    </div>

    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <script>
      $(document).ready(function () {
        $(".id-input").focus();
      });
    </script>
  </body>
</html>
