<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>SGT market</title>
    <%-include("link.ejs")%>
    <link rel="stylesheet" href="/static/css/main/main.css" />
  </head>
  <body>
    <%-include("main/navbar.ejs")%>
    <div class="post-slider">
      <div class="post-wrapper">
        <div class="post">
          <a
            ><img
              src="static/img/banner4.jpeg"
              style="max-width: 100%; width: 1100px; height: auto"
          /></a>
        </div>
        <div class="post">
          <a
            ><img
              src="static/img/banner5.jpeg"
              style="max-width: 100%; width: 1100px; height: auto"
          /></a>
        </div>
        <div class="post">
          <a
            ><img
              src="static/img/banner6.jpeg"
              style="max-width: 100%; width: 1100px; height: auto"
          /></a>
        </div>
      </div>
    </div>
    <br />
    <div class="all-space">
      <div class="new">
        <br />
        <div class="new-box container">
          <div class="new-first row">
            <div class="new1 col-xs-6 col-sm-6 col-md-4 col-lg-3">
              <div>
                <i
                  class="fa-solid fa-check"
                  style="color: #eb8d00; padding-top: 5px"
                ></i>
              </div>
              <div>
                <span
                  style="
                    background: linear-gradient(
                      to top,
                      #ffe4bc 50%,
                      transparent 50%
                    );
                  "
                  >새로</span
                >
              </div>
              <div>
                <span
                  style="
                    background: linear-gradient(
                      to top,
                      #ffe4bc 50%,
                      transparent 50%
                    );
                  "
                  >올라왔어요</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <br />
      <br />
      <div class="new">
        <br />
        <div class="new-box container">
          <div class="new-first row">
            <div class="new1 col-xs-6 col-sm-6 col-md-4 col-lg-3">
              <div>
                <i
                  class="fa-brands fa-hotjar"
                  style="color: #eb8d00; padding-top: 5px"
                ></i>
              </div>
              <div>
                <span
                  style="
                    background: linear-gradient(
                      to top,
                      #ffe4bc 50%,
                      transparent 50%
                    );
                  "
                  >SGT</span
                >
              </div>
              <div>
                <span
                  style="
                    background: linear-gradient(
                      to top,
                      #ffe4bc 50%,
                      transparent 50%
                    );
                  "
                  >인기상품</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
    <br />
    <script src="/static/js/index.js"></script>
    <%-include("main/footer.ejs")%>
  </body>
</html>
