<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>SGT market</title>
    <%-include("link.ejs")%>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
    ></script>
    <link rel="stylesheet" href="/static/css/main/main.css" />
    <!-- CSS only -->
  </head>
  <body>
    <%-include("main/navbar.ejs")%>
    <div class="post-slider">
      <div class="post-wrapper">
        <div class="post">
          <a
            ><img
              src="static/img/banner4.jpeg"
              style="max-width: 100%; width: 1100px; height: auto"
          /></a>
        </div>
        <div class="post">
          <a
            ><img
              src="static/img/banner5.jpeg"
              style="max-width: 100%; width: 1100px; height: auto"
          /></a>
        </div>
        <div class="post">
          <a
            ><img
              src="static/img/banner6.jpeg"
              style="max-width: 100%; width: 1px; height: auto"
          /></a>
        </div>
      </div>
    </div>
    <br />
    <div class="all-space">
      <div class="new">
        <br />
        <div class="new-box">
          <div class="new-first">
          <div class="new1">
            <div>새로</div>
            <div>올라왔어요</div>
          </div>
          <div class="new-box1"></div>
          <div class="new-box2"></div>
          <div class="new-box3"></div>
        </div>
        <div class="new-second">
          <div class="new-box4"></div>
          <div class="new-box5"></div>
          <div class="new-box6"></div>
          <div class="new-box7"></div>
        </div>
      </div>
      <br />
      <br />
      <div class="new-box">
        <div class="new-first">
        <div class="new1">
          <div>SGT</div>
          <div>인기상품</div>
        </div>
        <div class="new-box1"></div>
        <div class="new-box2"></div>
        <div class="new-box3"></div>
      </div>
      <div class="new-second">
        <div class="new-box4"></div>
        <div class="new-box5"></div>
        <div class="new-box6"></div>
        <div class="new-box7"></div>
      </div>
    </div>
    </div>
    <br />
    <br />
    <script src="/static/js/index.js"></script>
    <%-include("main/footer.ejs")%>
  </body>
</html>
