* {
  padding: 0;
  margin: 0;
}
.wrapper {
  display: flex;
  justify-content: flex-start;
  width: 1000px;
  margin: 0 auto;
  margin-top: 50px;
}
.d-none {
  display: none;
}
.left-sgt {
  display: flex;
  flex-direction: column;
  float: left;
  margin: 0 50px 0 0;
  width: 170px;
}
.left-sgt > div {
  display: flex;
  justify-content: center;
  font-weight: 700;
  margin: 0 0 20px 0;
}
.left-sgt-button {
  display: flex;
  flex-direction: column;
}
.left-sgt-button > button {
  background-color: transparent;
  height: 55px;
  border: none;
  border-bottom: 1px solid #eaeaea;
}
.left-sgt-button > button:hover {
  cursor: pointer;
  color: #eb8d00;
  /* background-color: #f1f3f5; */
}
.right-sgt {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* margin: 0 50px; */
  width: 100%;
}
.right-sgt-top {
  font-weight: 700;
}
.right-sgt-content {
  width: 100%;
}
.right-sgt-bottom {
  display: flex;
  justify-content: center;
}
.no-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 550px;
}
.no-item > div {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.myModal {
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  background-color: white;
  height: 350px;
  width: 500px;
  border-radius: 20px;
}
.myModal > input {
  padding-left: 10px;
  margin: 10px 0;
}
.myModal > textarea {
  padding: 10px 0 0 10px;
}
.myModal > button {
  display: flex;
  justify-content: center;
}
.itemAdd {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
.modalClose {
  position: relative;
  right: -20px;
}
.cursor {
  cursor: pointer;
}
.addTitle {
  display: flex;
  justify-content: center;
  width: 400px;
  height: 30px;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.05em;
  color: #eb8d00;
}
.img {
  padding-left: 0;
}
.title,
.price {
  height: 30px;
  border: 1px solid black;
  width: 80%;
}
.category {
  height: 30px;
  border: 1px solid black;
}
.content {
  border: 1px solid black;
  margin: 10px 0;
  width: 80%;
  resize: none;
}

.addItemBtn {
  width: 90px;
  height: 40px;
  background-color: #ffe4bc;
  border: none;
  border-radius: 20px;
  font-weight: 500;
}
.modalClose {
  font-size: 0.9rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 90px;
  height: 40px;
  background-color: #ffe4bc;
  border: none;
  border-radius: 20px;
}
#modalOn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 150px;
  background-color: #eb8d00;
  border: none;
  /* margin: 20px 0 20px auto; */
  border-radius: 30px;
  height: 30px;
}
#noModalOn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 150px;
  background-color: #eb8d00;
  border: none;
  margin: 20px 0 20px auto;
  border-radius: 30px;
  height: 44px;
}
.itemList {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
.my-item {
  width: 30%;
  height: 300px;
  margin: 10px;
  padding: 1px;
  border: 1px solid black;
  border-radius: 15px;
}
.item-img {
  width: 90%;
  height: 130px;
}
.item-text-name {
  margin: 7px 0;
  padding-left: 5px;
}
.item-text-price {
  margin: 7px 0;
  padding-left: 5px;
}
.item-text-category {
  margin: 7px 0;
  padding-left: 5px;
}
.item-text-content {
  display: block;
  /* border: 1px solid black; */
  margin: 10px 0;
  width: 243px;
  text-overflow: ellipsis;
  white-space: nowrap; /*글자를 한줄로 모아준다*/
  overflow: hidden;
  padding-left: 5px;
}
.item-cancel-btn {
  float: right;
  font-size: 0.9rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 90px;
  height: 30px;
  background-color: #ffe4bc;
  border: none;
  border-radius: 20px;
  margin: 0 5px 0 0;
}
.item-cancel-btn:hover {
  cursor: pointer;
}
