* {
  padding: 0;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 650px;
  margin: 0 auto;
}
button,
.btncolor {
  background-color: white;
  color: skyblue;
  border: 1px solid skyblue;
  font-weight: bold;
  width: 98px;
  height: 42px;
  cursor: pointer;
  margin-left: 15px;
}
.btncolor {
  margin-top: 10px;
}
.left-text {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: 139px;
  height: 33px;
  margin: auto 0;
}
.write-signup {
  text-align: center;
  margin-top: 15px 0;
  font-size: 1.5rem;
}
.necessary {
  display: flex;
  justify-content: right;
  font-size: 0.9rem;
}
hr {
  margin-top: 8px;
}
.red {
  color: red;
}
.sign-main {
  font-size: 0.9rem;
}
.sign-id,
.sign-pw,
.sign-pw-confirm,
.sign-name,
.sign-email,
.sign-phone,
.sign-adress,
.sign-gender {
  display: flex;
  margin: 20px 0;
}
.sign-adress-input {
  display: flex;
  flex-direction: column;
}
.sign-adress-find {
  margin-top: 10px;
}
.sign-birth {
  display: flex;
  margin: 30px 0;
}
.sign-gender-text,
.sign-birth-text {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: 139px;
  height: 33px;
  margin: auto 0;
}
.sign-gender-radio {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: 314px;
  justify-content: space-between;
}

.height2 {
  width: 300px;
  height: 38px;
  padding-left: 10px;
}
.height2,
.rightbtn {
  margin-top: 10px;
}

.signup-button {
  display: flex;
  justify-content: center;
}
.signup-button > button {
  margin: 30px 0 0 0;
}
.colors {
  color: red;
  margin-left: 10px;
}
.d-none {
  display: none;
}
