#footer {
  width: 100%;
  height: 180px;
  margin: 0;
  background-color: #eeeeee;
}

.footer-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}

.section-1,
.section-2,
.section-3,
.section-4 {
  width: 25%;
  height: 100%;
}

.section-1 {
  display: flex;
}

.section-2 {
  text-align: right;
  margin-right: 30px;
}

.first-inner {
  background-color: white;
  border: none;
  border-radius: 30px;
  width: 14vw;
  height: 10vw;
  display: flex;
  margin: auto;
}

.second-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-right: 20px;
}

.third-inner {
  font-size: calc(0.75em + 0.1vw);
  line-height: 25px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.third-inner > div > span {
  font-weight: 700;
}
.section-4 {
  display: flex;
}

.forth-inner {
  width: 100%;
  height: 80%;
  border-left: 1px #d3d3d3 solid;
  margin: auto 0;
}

.foot-logo {
  width: 14vw;
  margin: auto;
}

.team1 {
  font-weight: 700;
  font-size: calc(0.75em + 0.8vw);
}

.team2 {
  font-weight: 700;
  font-size: calc(0.75em + 0.8vw);
  color: #eb8d00;
}

.forth-outer {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  text-align: center;
}

.forth1 {
  font-size: calc(0.75em + 0.4vw);
  color: grey;
}

.forth1 > span {
  color: black;
  font-weight: 700;
}

.forth2,
.forth3 {
  font-size: calc(0.75em + 0.02vw);
  line-height: 20px;
  letter-spacing: -0.05em;
}

.forth3 {
  font-weight: 700;
}
/* .foot {
  text-align: center;
  align-items: center;
  margin: auto;
  padding: auto;
  font-size: 11px;
  display: table-cell;
  vertical-align: middle;
  color: black;
}

.footbg {
  border-top: #eeeeee 1px solid;
  background-color: #eeeeee;
  width: 100%;
  height: 60px;
  align-items: center;
  display: table;
}

.footbg-top {
  width: 100%;
  height: 200px;
  border-top: #eeeeee 1px solid;
  border-bottom: #eeeeee 1px solid;
  text-align: center;
  vertical-align: middle;
}

.insta,
.face {
  color: black;
}

.insta:hover,
.face:hover {
  color: #eb8d00;
}

.foot-left {
  float: center;
}

.foot-right {
  float: right;
}

b {
}

.footbg-top > div {
  font-size: small;
} */
