<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      type="text/javascript"
      src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js"
      charset="utf-8"
    ></script>
    <%-include("../link.ejs")%>
    <link href="/static/css/user/login.css" rel="stylesheet" />
    <title>SGT - 로그인</title>
  </head>
  <body>
    <%-include("../main/navbar.ejs")%>

    <div class="wrapper">
      <div class="login">
        <div class="write-login">로그인</div>
      </div>
      <form class="login-box">
        <input
          type="text"
          class="id-input"
          name="id"
          placeholder="아이디를 입력해주세요"
          id="id"
          required
        />
        <input
          type="password"
          class="pw-input"
          name="pw"
          placeholder="비밀번호를 입력해주세요"
          id="pw"
          required
        />

        <div class="find">
          <a href="">아이디 찾기</a>
          <a href="">비밀번호 찾기</a>
        </div>
        <div class="button">
          <button type="button" class="login-button" onclick="NormalLogin()">
            로그인
          </button>
          <button type="button" class="signup-button" onclick="Singup()">
            회원가입
          </button>
          <a href="javascript:kakaoLogin();"
            ><img
              src="/static/img/web-long.png"
              alt="카카오계정 로그인"
              class="kakao-button"
          /></a>
          <div id="naver_id_login" class="naver-button"></div>
        </div>
      </form>
    </div>

    <form action="/kakao_callback" method="post" id="kakao_sign">
      <input type="hidden" name="email" id="email" />
      <input type="hidden" name="name" id="name" />
    </form>

    <form action="/" method="post" id="NormalLogin">
      <input type="hidden" name="nameId" id="nameId" />
    </form>

    <%-include("../main/footer.ejs")%>

    <script src="/static/js/user/login.js"></script>
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>

    <script type="text/javascript">
      var naver_id_login = new naver_id_login(
        "RgAJTyB9QRvqTCV77uKZ",
        "http://localhost:8000/naver_callback"
      );
      var state = naver_id_login.getUniqState();
      naver_id_login.setButton("green", 3, 51);
      naver_id_login.setDomain(".service.com");
      naver_id_login.setState(state);
      naver_id_login.init_naver_id_login();
      // <!-- 네이버아디디로로그인 초기화 Script -->

      const naver_img = document.querySelector("#naver_id_login img");
      naver_img.src = "./static/img/naver-login.png";
      naver_img.style.width = "340px";
    </script>

    <script>
      window.Kakao.init("6bdae09f2a7d64b16126787989a4ae52");
      function kakaoLogin() {
        window.Kakao.Auth.login({
          scope: "profile_nickname, account_email, gender", //동의항목 페이지에 있는 개인정보 보호 테이블의 활성화된 ID값을 넣습니다.
          success: function (authObj) {
            console.log(authObj); // 로그인 성공하면 받아오는 데이터
            window.Kakao.API.request({
              // 사용자 정보 가져오기
              url: "/v2/user/me",
              success: (res) => {
                var form = document.getElementById("kakao_sign");
                const kakao_account = res.kakao_account;
                $("#kakao_sign").children("#email").val(kakao_account.email);
                $("#kakao_sign")
                  .children("#name")
                  .val(kakao_account.profile.nickname);
                console.log($("#kakao_sign").children("#email").val());
                console.log($("#kakao_sign").children("#name").val());
                form.submit();
              },
            });
          },
          fail: function (error) {
            console.log(error);
          },
        });
      }
    </script>
  </body>
</html>
