<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8"></script>
    <%-include("../link.ejs")%>
    <link href="/static/css/user/login.css" rel="stylesheet" />
    <title>SGT - 로그인</title>
  </head>
  <body>
    <%-include("../main/navbar.ejs")%>

    <div class="wrapper">
      <div class="login">
        <div class="write-login">로그인</div>
      </div>
      <form class="login-box">
        <input type="text" class="id-input" name="id" placeholder="아이디를 입력해주세요" id="id" />
        <input type="password" class="pw-input" name="pw" placeholder="비밀번호를 입력해주세요" id="pw" />

        <div class="find">
          <a href="/find_id">아이디 찾기</a>
          <a href="/find_pw">비밀번호 찾기</a>
        </div>
        <div class="button">
          <button type="button" class="login-button" onclick="NormalLogin()">로그인</button>
          <button type="button" class="signup-button" onclick="Singup()">회원가입</button>
          <a href="javascript:kakaoLogin();"><img src="/static/img/web-long.png" alt="카카오계정 로그인" style="width: 340px; height: 49px" /></a>
          <div id="naver_id_login" style="width: 340px; background-color: #03C75A;"></div>
          <!--네이버 로그인-->
        </div>
      </form>
    </div>

    <form action="/kakao_callback" method="post" id="kakao_sign">
      <input type="hidden" name="email">
      <input type="hidden" name="nickname">
    </form>

    <script src="/static/js/user/login.js"></script>
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>

    <script type="text/javascript">
      var naver_id_login = new naver_id_login("RgAJTyB9QRvqTCV77uKZ", "http://localhost:8000/naver_callback");
      var state = naver_id_login.getUniqState();
      naver_id_login.setButton("green", 3, 49);
      naver_id_login.setDomain(".service.com");
      naver_id_login.setState(state);
      // naver_id_login.setPopup();
      naver_id_login.init_naver_id_login();
      // <!-- 네이버아디디로로그인 초기화 Script -->
    </script>

    <script>
      window.Kakao.init("6bdae09f2a7d64b16126787989a4ae52");
      function kakaoLogin() {
        window.Kakao.Auth.login({
          scope: "profile_nickname, account_email, gender", //동의항목 페이지에 있는 개인정보 보호 테이블의 활성화된 ID값을 넣습니다.
          success: function (authObj) {
            console.log(authObj); // 로그인 성공하면 받아오는 데이터
            window.Kakao.API.request({
              // 사용자 정보 가져오기
              url: "/v2/user/me",
              success: (res) => {
                var form = document.getElementById("kakao_sign");
                
                const kakao_account = res.kakao_account;
                console.log(kakao_account.email);
                console.log(kakao_account.profile.nickname);
                form.submit();
                // window.location.href = "http://localhost:8000/kakao_callback"; //리다이렉트 되는 코드
                // $(".center-id").children("input").val(kakao_account.email);
                // $(".center-name").children("input").val(kakao_account.profile.nickname);
                // $(".center-email").children("input").val(kakao_account.email);
              },
            });
          },
          fail: function (error) {
            console.log(error);
          },
        });
      }
    </script>
  </body>
</html>
