<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/static/css/mypage-item.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <%-include("../link.ejs")%>

    <title>SGT - 상품 등록</title>
  </head>
  <body>
    <%-include("../main/navbar.ejs")%>

    <div class="wrapper">
      <div class="left-sgt">
        <div>마이 SGT</div>
        <ul class="left-sgt-button">
          <button type="button">상품 목록</button>
          <button type="button">거래 내역</button>
          <button type="button">찜한 상품</button>
          <button type="button">개인 정보 수정</button>
        </ul>
      </div>

      <div class="right-sgt">
        <div class="right-sgt-top">상품 목록</div>
        <hr />
        <div class="right-sgt-content">
          
          <!-- <%if(data) {%> -->

          <div class="itemList">
            <div class="my-item">
              <img class="item-img" src="/static/img/logo.png" />
              <div class="item-info">
                <div class="item-text">
                  <h4 class="item-text-name">상품 이름</h4>
                  <div class="item-text-price">가격</div>
                  <div class="item-text-category">카테고리</div>
                  <div class="item-text-content">상품 설명 상품 설명 상품 설명 상품 설명 상품 설명 상품 설명 상품 설명 상품 설명 상품 설명 상품 설명 상품 설명 상품 설명 상품 설명 상품 설명 상품 설명 상품 설명 상품 설명 상품 설명 상품 설명 상품 설명 상품 설명 상품 설명 상품 설명 상품 설명 상품 설명 상품 설명 상품 설명 상품 설명 상품 설명 상품 설명 상품 설명 상품 설명 상품 설명 상품 설명 상품 설명 상품 설명 상품 설명 상품 설명 상품 설명 상품 설명 상품 설명 상품 설명</div>
                </div>
              </div>
              <div class="item-cancel">
                <button type="button" class="item-cancel-btn" onclick="itemCancel(this)">등록 취소</button>
              </div>
            </div>
          </div>
          <button id="noModalOn" class="cursor" onclick="addItem()">상품 등록 하기</button>
          <!-- <%} else {%> -->
          <div class="no-item">
            <div>등록한 상품이 없습니다.</div>
            <button id="modalOn" class="cursor" onclick="addItem()">상품 등록 하기</button>
          </div>
          <!-- <% } %> -->
          <form class="myModal">
            <div>
              <div class="addTitle">상품 등록</div>
            </div>
            <input type="file" id="img" name="img" class="img" accept="image/png, image/jpeg" />
            <input type="text" placeholder="상품 이름" name="title" class="title" />
            <input type="number" placeholder="가격" name="price" class="price" />
            <select class="category">
              <option value="life">생활/가전</option>
              <option value="electro">전자제품</option>
              <option value="fashion">패션/의류</option>
              <option value="interior">가구/인테리어</option>
              <option value="book">도서/음반/티켓</option>
              <option value="food">식품/잡화</option>
              <option value="pet">반려동물</option>
            </select>
            <textarea placeholder="상품 설명" name="content" class="content"></textarea>
            <div class="itemAdd">
              <button type="button" class="addItemBtn cursor" onclick="modalAddItem()">상품 등록</button>
              <div class="modalClose cursor" onclick="modalClose();">닫기</div>
            </div>
          </form>
          <div class="right-sgt-bottom">
            <div>페이지네이션</div>
          </div>
        </div>
      </div>
    </div>

    <script src="/static/js/user/mypageItem.js"></script>

  </body>
</html>
