<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.6.1.min.js"
      integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
      crossorigin="anonymous"
    ></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script
      type="text/javascript"
      src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js"
      charset="utf-8"
    ></script>
    <%-include("../link.ejs")%>
    <link href="/static/css/user/signup.css" rel="stylesheet" />
    <title>SGT - 회원가입</title>
  </head>
  <body>
    <%-include("../main/navbar.ejs")%>

    <div class="wrapper">
      <div class="signup-text">
        <div class="write-signup">회원가입</div>
      </div>
      <div class="necessary">
        <div class="red">*</div>
        <div class="nec-text">필수입력사항</div>
      </div>
      <hr />
      <form class="sign-main">
        <div class="sign-id">
          <div class="left-text">
            <div>아이디<span class="red">*</span></div>
          </div>
          <div class="center-id">
            <input
              type="text"
              class="height2"
              placeholder="아이디를 입력해주세요"
              name="id"
              id="id"
              disabled
            />
            <div class="validid d-none colors">
              4~12자의 영문 대소문자와 숫자로만 입력
            </div>
          </div>
          <div class="rightbtn">
            <button type="button" onclick="idconfirm()">중복확인</button>
          </div>
        </div>
        <div class="sign-pw">
          <div class="left-text">
            <div>비밀번호<span class="red">*</span></div>
          </div>
          <div>
            <input
              type="password"
              class="height2"
              placeholder="비밀번호를 입력해주세요"
              style="margin-bottom: 0px"
              name="pw"
              id="pw"
            />
            <div class="validpw d-none colors">
              4~12자의 영문 대소문자와 숫자로만 입력
            </div>
          </div>
        </div>
        <div class="sign-pw-confirm">
          <div class="left-text">
            <div>비밀번호확인<span class="red">*</span></div>
          </div>
          <div>
            <input
              type="password"
              class="height2"
              placeholder="비밀번호를 한번 더 입력해주세요"
              style="margin-bottom: 0px"
              name="pw.confirm"
              id="pwconfirm"
            />
            <div class="validpwconfirm d-none colors">
              비밀번호가 일치하지 않습니다.
            </div>
          </div>
        </div>
        <div class="sign-name">
          <div class="left-text">
            <div>이름<span class="red">*</span></div>
          </div>
          <div class="center-name">
            <input
              type="text"
              class="height2"
              placeholder="이름를 입력해주세요"
              name="name"
              id="name"
              disabled
            />
            <div class="validname d-none colors">
              이름 형식에 맞지 않습니다.
            </div>
          </div>
        </div>
        <div class="sign-email">
          <div class="left-text">
            <div>이메일<span class="red">*</span></div>
          </div>
          <div class="center-email">
            <input
              type="text"
              class="height2"
              placeholder="예:SGTmarket@sgt.com"
              name="email"
              id="email"
              disabled
            />
            <div class="validemail d-none colors">
              이메일 형식에 맞지 않습니다.
            </div>
          </div>
          <div class="rightbtn">
            <button type="button" onclick="emailconfirm()">중복확인</button>
          </div>
        </div>
        <div class="sign-phone">
          <div class="left-text">
            <div>휴대폰<span class="red">*</span></div>
          </div>
          <div>
            <input
              type="text"
              class="height2"
              placeholder="숫자만 입력해주세요"
              name="phone"
              id="phone"
            />
            <div class="validephone d-none colors">
              휴대폰번호 형식에 맞지 않습니다.
            </div>
          </div>
          <div class="rightbtn">
            <button type="button" disabled>인증번호 받기</button>
          </div>
        </div>
        <div class="sign-adress">
          <div class="left-text">
            <div>우편번호<span class="red">*</span></div>
          </div>
          <div class="sign-adress-input">
            <input
              type="text"
              name="adress"
              id="adress"
              class="height2"
              placeholder="주소"
              required
            />
            <input
              type="text"
              id="adress_more"
              class="height2"
              placeholder="상세주소"
            />
            <div
              id="wrap"
              style="
                display: none;
                border: 1px solid;
                width: 314px;
                max-height: 250px;
                margin: 5px 0;
                position: relative;
              "
            >
              <img
                src="//t1.daumcdn.net/postcode/resource/images/close.png"
                id="btnFoldWrap"
                style="
                  cursor: pointer;
                  position: absolute;
                  right: 0px;
                  top: -1px;
                  z-index: 1;
                "
                onclick="closebtn()"
                alt="접기 버튼"
              />
            </div>
          </div>
          <div class="sign-adress-find">
            <input
              type="button"
              class="btncolor"
              onclick="findAdress()"
              value="우편번호 찾기"
            /><br />
          </div>
        </div>
        <div class="sign-gender">
          <div class="sign-gender-text">
            <div>성별</div>
          </div>
          <div class="sign-gender-radio">
            <div>
              <input
                type="radio"
                class="radio-input"
                id="male"
                name="gender"
                value="male"
              />
              <label for="male"
                ><span class="bigcircle"
                  ><span class="smallcircle"></span
                ></span>
                남자</label
              >
            </div>
            <div>
              <input
                type="radio"
                class="radio-input"
                id="female"
                name="gender"
                value="female"
              />
              <label for="female"
                ><span class="bigcircle"
                  ><span class="smallcircle"></span
                ></span>
                여자</label
              >
            </div>
            <div>
              <input
                type="radio"
                class="radio-input"
                id="none"
                name="gender"
                value="none"
              />
              <label for="none"
                ><span class="bigcircle"
                  ><span class="smallcircle"></span
                ></span>
                선택안함</label
              >
            </div>
          </div>
        </div>
        <div class="sign-birth">
          <div class="sign-birth-text">
            <div>생년월일</div>
          </div>
          <div class="sign-birth-right">
            <div class="sign-birth-input">
              <input
                type="text"
                class="yyyy"
                placeholder="YYYY"
                maxlength="4"
              />
              <input type="text" class="mmmm" placeholder="MM" maxlength="2" />
              <input type="text" class="dddd" placeholder="DD" maxlength="2" />
            </div>
          </div>
        </div>
        <hr />
        <div class="signup-button">
          <button type="button" onclick="signupCreate()">가입하기</button>
        </div>
      </form>
    </div>
    <%-include("../main/footer.ejs")%>

    <script src="/static/js/user/naver_callback.js"></script>

    <script type="text/javascript">
      var naver_id_login = new naver_id_login(
        "RgAJTyB9QRvqTCV77uKZ",
        "http://101.101.218.43:8000/naver_callback"
      );
      // 접근 토큰 값 출력
      // 네이버 사용자 프로필 조회
      naver_id_login.get_naver_userprofile("naverSignInCallback()");
      // 네이버 사용자 프로필 조회 이후 프로필 정보를 처리할 callback function
      function naverSignInCallback() {
        $(".center-id")
          .children("input")
          .val(naver_id_login.getProfileData("email"));
        $(".center-name")
          .children("input")
          .val(naver_id_login.getProfileData("name"));
        $(".center-email")
          .children("input")
          .val(naver_id_login.getProfileData("email"));

        console.log(naver_id_login.getProfileData("name"));
        console.log(naver_id_login.getProfileData("email"));
      }

    </script>
  </body>
</html>
