<footer id="footer">
  <div class="footbg-top">
    <br />
    <br />
    <b>고객센터</b>
    <div>02-000-0000</div>
    <br />
    <b>SGT MARKET</b>
    <div>윤동희 -</div>
    <div>정구영 -</div>
    <div>윤경민 -</div>
    <div>안수지 -</div>
  </div>
  <div class="footbg">
    <div class="foot">
      <div style="font-weight: 500">
        <i class="fa fa-globe fa-lg" aria-hidden="true" style="padding: 5px"></i
        >Contact us : sgtmarket@sgt.com ㅣ
        <a href="http://www.instagram.com/" class="insta"
          ><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a
        ><a href="http://www.facebook.com" class="face"
          ><i
            class="fa fa-facebook-square fa-lg"
            aria-hidden="true"
            style="padding: 5px"
          ></i
        ></a>
      </div>
      <div style="font-weight: 700">©2022 KDT 2nd Project / SGT MARKET</div>
    </div>
  </div>
</footer>
