<footer id="footer">
  <div class="footer-wrapper">
    <div class="section-1">
      <div class="first-inner">
        <img src="/static/img/logo.png" class="foot-logo" />
      </div>
    </div>
    <div class="section-2">
      <div class="second-inner">
        <div class="team1">TEAM</div>
        <div class="team2">SGT MARKET</div>
      </div>
    </div>
    <div class="section-3">
      <div class="third-inner">
        <div><span>윤동희</span> - backend & database all</div>
        <div><span>정구영</span> - frontend &</div>
        <div><span>윤경민</span> - frontend &</div>
        <div><span>안수지</span> - frontend &</div>
      </div>
    </div>
    <div class="section-4">
      <div class="forth-inner">
        <div class="forth-outer">
          <div class="forth1"><span>고객센터</span>02-000-0000</div>
          <br class="br" />
          <div class="forth2">Contact us : sgtmarket@sgt.com</div>
          <div class="forth3">©2022 KDT 2nd Project / SGT MARKET</div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-wrapper2">
    <div class="footer2-inner">
      <br class="brr" />
      <a
        ><img src="/static/img/logo.png" style="width: 200px; margin: auto"
      /></a>
      <div class="forth4">
        <span style="color: black">고객센터</span>　02-000-0000
      </div>
      <div class="forth5">Contact us : sgtmarket@sgt.com</div>
      <div class="forth6">　　©2022 KDT 2nd Project / SGT MARKET　　</div>
      <br class="brr" />
    </div>
  </div>
  <br class="brr" />
</footer>
