<nav class="mynav">
  <div class="nav-top">
    <div class="nav-top-menu">
      <a class="nav-top-menu-join">회원가입</a><span>　|　</span
      ><a href="/login" class="nav-top-menu-login">로그인</a><span>　|　</span
      ><a class="nav-top-menu-cs">고객센터</a>
    </div>
  </div>
  <div class="nav-top-second">
    <div class="toggle">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <a href="/"
      ><img src="static/img/logo.png" alt="logo" width="200" height="77"
    /></a>
    <div class="container-1">
      <input
        id="search"
        type="text"
        placeholder="세상의 모든 중고거래, SGT MARKET"
        onfocus="this.placeholder = ''"
        onblur="this.placeholder = '세상의 모든 중고거래, SGT MARKET'"
      /><button type="button" id="search-button">
        <i class="fa fa-search" style="color: #eb8d00"></i>
      </button>
    </div>
    <div class="right-menu">
      <a href="" class="chatting">
        <i class="fa-solid fa-comments" style="color: #909090"></i>
        채팅
      </a>
      <span style="color: #d3d3d3">　|　</span>
      <a href="" class="like-list"
        ><i class="fa-regular fa-heart" style="color: #909090"></i> 관심목록
      </a>
      <span style="color: #d3d3d3">　|　</span>
      <a href="" class="user-info"
        ><i class="fa-regular fa-user" style="color: #909090"></i> 개인정보
      </a>
    </div>
  </div>
  <hr />
  <div class="category-up">
    <div class="category-set-off" id="category">
      <div class="category-first">
        <a href="/product" class="living">생활/가전</a
        ><span style="color: #d3d3d3">　|　</span
        ><a href="" class="electric">전자제품</a
        ><span style="color: #d3d3d3">　|　</span
        ><a href="" class="fashion">패션/의류</a
        ><span style="color: #d3d3d3">　|　</span
        ><a href="" class="interior">가구/인테리어</a
        ><span style="color: #d3d3d3">　|　</span
        ><a href="" class="book">도서/음반/티켓</a
        ><span style="color: #d3d3d3">　|　</span
        ><a href="" class="foodetc">식품/잡화</a
        ><span style="color: #d3d3d3">　|　</span
        ><a href="" class="animal">반려동물</a>
      </div>
    </div>
  </div>
  <div>
    <button id="btnTop" class="btn_top" type="button">
      <img
        class="arrow_up"
        src="static/img/top2.png"
        style="width: 35px; height: 35px"
        alt="arrow_up"
      />
    </button>
  </div>
</nav>
<script src="/static/js/main/navbar.js"></script>
