<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/static/css/mypage.css" rel="stylesheet" />
    <title>SGT - 거래 내역</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="left-sgt">
        <div>마이 SGT</div>
        <ul class="left-sgt-button">
          <button type="button">상품 등록</button>
          <button type="button">거래 내역</button>
          <button type="button">찜한 상품</button>
          <button type="button">개인 정보 수정</button>
        </ul>
      </div>

      <div class="right-sgt">
        <div>거래 내역</div>
        <hr />
        <div class="right-sgt-content">
          <div class="no-trade">
            <div>거래 내역이 없습니다.</div>
            <button type="file">거래하러 가기</button>
          </div>
          <div class="have-trade d-none">
            <div><img src="/static/img/logo.png" class="logo" /></div>
          </div>
          <div>
            <div>페이지 네이션</div>
            <button type="file">상품 등록</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
