<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%-include("../link.ejs")%>
    <link href="/static/css/user/mypage-fix.css" rel="stylesheet" />
    <title>SGT - 개인 정보 수정</title>
  </head>
  <body>
    <%-include("../main/navbar.ejs")%>

    <div class="wrapper">
      <div class="left-sgt">
        <div>마이 SGT</div>
        <ul class="left-sgt-button">
          <button type="button" onclick="mypage();">상품 목록</button>
          <button type="button">거래 내역</button>
          <button type="button" onclick="mypick();">찜한 상품</button>
          <button type="button" onclick="myfix();">개인 정보 수정</button>
          <button type="button" class="withDraw">회원탈퇴</button>
          <!-- 모달 창 -->
          <div id="myModal" class="modal2 hidden">
            <!-- 모달 창 내용 -->
            <div class="modal2-bgr"></div>
            <div class="modal2-content">
              <h2>정말 탈퇴하시겠습니까?</h2>
              <div class="modal-btn">
                <button type="button" class="yes">예</button>
                <button type="button" class="no">닫기</button>
              </div>
            </div>
          </div>
        </ul>
      </div>

      <div class="right-sgt">
        <div class="title">개인 정보 수정</div>
        <div class="repw">비밀번호 재확인</div>
        <div class="little">
          회원님의 정보를 안전하게 보호하기 위해<br />
          비밀번호를 다시 한번 확인해주세요.
        </div>
        <hr />
        <div class="right-sgt-content">
          <div class="content-wrapper">
            <input
              type="text"
              name="id"
              id="id"
              class="id"
              placeholder="ID"
              disabled
            />
            <input
              type="password"
              name="pw"
              id="pw"
              class="pw"
              placeholder="비밀번호를 입력해주세요."
            />
            <hr />
            <button type="button" id="fixbtn" onclick="goToFix()">확인</button>
          </div>
        </div>
      </div>
    </div>
    <%-include("../main/footer.ejs")%>

    <script src="/static/js/mypage/mypageFix.js"></script>
  </body>
</html>
