<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%-include("../link.ejs")%>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <link href="/static/css/user/mypage-gofix.css" rel="stylesheet" />
    <title>SGT - 회원 정보 수정</title>
  </head>
  <body>
    <%-include("../main/navbar.ejs")%>

    <div class="wrapper">
      <div class="signup-text">
        <div class="write-signup">회원 정보 수정</div>
      </div>
      <hr />
      <form class="sign-main">
        <div class="sign-id">
          <div class="left-text">
            <div>아이디</div>
          </div>
          <div>
            <input
              type="text"
              class="height2"
              placeholder="아이디를 입력해주세요."
              name="id"
              id="id"
              disabled
              required
            />
            <div class="validid d-none colors">
              4~12자의 영문 대소문자와 숫자로만 입력
            </div>
          </div>
          <div class="rightbtn">
            <button
              type="button"
              required="required"
              onclick="idconfirm()"
              hidden
            >
              중복확인
            </button>
          </div>
        </div>
        <div class="sign-pw">
          <div class="left-text">
            <div>새 비밀번호</div>
          </div>
          <div>
            <input
              type="password"
              class="height2"
              placeholder="새 비밀번호를 입력해주세요."
              style="margin-bottom: 0px"
              name="pw"
              id="pw"
              required
            />
            <div class="validpw d-none colors">
              4~12자의 영문 대소문자와 숫자로만 입력
            </div>
          </div>
        </div>
        <div class="sign-pw-confirm">
          <div class="left-text">
            <div>새 비밀번호확인</div>
          </div>
          <div>
            <input
              type="password"
              class="height2"
              placeholder="새 비밀번호를 한번 더 입력해주세요."
              style="margin-bottom: 0px"
              name="pw.confirm"
              id="pwconfirm"
              required
            />
            <div class="validpwconfirm d-none colors">
              비밀번호가 일치하지 않습니다.
            </div>
          </div>
        </div>
        <div class="sign-name">
          <div class="left-text">
            <div>이름</div>
          </div>
          <div class="center-name">
            <input
              type="text"
              class="height2"
              placeholder="이름를 입력해주세요."
              name="name"
              id="name"
              required
            />
            <div class="validname d-none colors">
              이름 형식에 맞지 않습니다.
            </div>
          </div>
        </div>
        <div class="sign-email">
          <div class="left-text">
            <div>이메일</div>
          </div>
          <div class="center-email">
            <input
              type="text"
              class="height2"
              placeholder="예:SGTmarket@sgt.com"
              name="email"
              id="email"
              disabled
              required
            />
            <div class="validemail d-none colors">
              이메일 형식에 맞지 않습니다.
            </div>
          </div>
        </div>
        <div class="sign-phone">
          <div class="left-text">
            <div>휴대폰</div>
          </div>
          <div>
            <input
              type="text"
              class="height2"
              placeholder="숫자만 입력해주세요."
              name="phone"
              id="phone"
            />
            <div class="validephone d-none colors">
              휴대폰번호 형식에 맞지 않습니다.
            </div>
          </div>
          <div class="rightbtn">
            <button type="button" disabled>인증번호 받기</button>
          </div>
        </div>
        <div class="sign-adress">
          <div class="left-text">
            <div>우편번호</div>
          </div>
          <div class="sign-adress-input">
            <input
              type="text"
              name="adress"
              id="adress"
              class="height2"
              placeholder="주소"
            />
            <input
              type="text"
              id="adress_more"
              class="height2"
              placeholder="상세주소"
            />
            <div
              id="wrap"
              style="
                display: none;
                border: 1px solid;
                width: 314px;
                max-height: 250px;
                margin: 5px 0;
                position: relative;
              "
            >
              <img
                src="//t1.daumcdn.net/postcode/resource/images/close.png"
                id="btnFoldWrap"
                style="
                  cursor: pointer;
                  position: absolute;
                  right: 0px;
                  top: -1px;
                  z-index: 1;
                "
                onclick="closebtn()"
                alt="접기 버튼"
              />
            </div>
          </div>
          <div class="sign-adress-find">
            <input
              type="button"
              class="btncolor"
              onclick="findAdress()"
              value="우편번호 찾기"
            /><br />
          </div>
        </div>
        <div class="sign-gender">
          <div class="sign-gender-text">
            <div>성별</div>
          </div>
          <div class="sign-gender-radio">
            <div>
              <input
                type="radio"
                class="radio-input"
                id="male"
                name="gender"
                value="male"
              />
              <label for="male"
                ><span class="bigcircle"
                  ><span class="smallcircle"></span
                ></span>
                남자</label
              >
            </div>
            <div>
              <input
                type="radio"
                class="radio-input"
                id="female"
                name="gender"
                value="female"
              />
              <label for="female"
                ><span class="bigcircle"
                  ><span class="smallcircle"></span
                ></span>
                여자</label
              >
            </div>
            <div>
              <input
                type="radio"
                class="radio-input"
                id="none"
                name="gender"
                value="none"
              />
              <label for="none"
                ><span class="bigcircle"
                  ><span class="smallcircle"></span
                ></span>
                선택안함</label
              >
            </div>
          </div>
        </div>
        <div class="sign-birth">
          <div class="sign-birth-text">
            <div>생년월일</div>
          </div>
          <div class="sign-birth-right">
            <div class="sign-birth-input">
              <input
                type="text"
                class="yyyy"
                placeholder="YYYY"
                maxlength="4"
              />
              <input type="text" class="mmmm" placeholder="MM" maxlength="2" />
              <input type="text" class="dddd" placeholder="DD" maxlength="2" />
            </div>
          </div>
        </div>
        <hr />
        <div class="signup-button">
          <button type="button" class="fix" onclick="fixInfo()">
            수정하기
          </button>
        </div>
      </form>
    </div>
    <%-include("../main/footer.ejs")%>
    <script src="/static/js/mypage/mypageGoFix.js"></script>
  </body>
</html>
